
<h3>Title</h3>
<p><%= @task.title %></p>
<h3>Details</h3>
<p><%= @task.details %></p>
    <% if @task.completed %>
       <label for="completed">Completed: </label>
       <input type="checkbox" name="completed" checked>
       <% else %>
       <label for="completed">Completed: </label>
       <input type="checkbox" name="completed">
    <% end %>
    <br>
    <br>

<h3>Edit the task</h3>
<%= link_to('Edit', edit_task_path(@task)) %>
    <br>
    <br>
<%= link_to('Delete', delete_task_path(@task), method: :delete) %>
    <br>
    <br>
<%= link_to('Back to full list', '/tasks') %>
